<span>{{nPhotosLoaded}} de {{photos.length}}</span>

{{#if nPhotoActualFtd}}
<span>Número da foto atual: {{nPhotoActualFtd}}</span>
{{/if}}

<div class="photo-container">
  <img alt="Loading">
</div>

{{input type="number" value=photoChangerSpeed}}
