<span>{{nPhotosLoaded}} de {{photos.length}}</span>

<span>Número da foto atual: {{nPhotoActual}}</span>

<div class="photo-container">
  <img alt="Loading">
</div>

{{input type="number" value=photoChangerSpeed}}
