<div class="list-group">
  {{#link-to 'timelapse' 'fpolis-20140601U123121' class="list-group-item"}}Timelapse sample (Floripa 20140601){{/link-to}}
  <a href="#" class="list-group-item">Invalid</a>
</div>
